<div class="progressBarDiv">
  @if(this.firestoreService.loading){
    <mat-progress-bar  class="progressBarClass" mode="indeterminate"></mat-progress-bar>

  }
 
</div>


<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
    
  
  
  

    <div class="inputFormFieldDivClass">
        <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input [disabled]=this.firestoreService.loading [(ngModel)]="this.firestoreService.user.firstName" matInput placeholder="First name">
            
            <!-- <mat-hint>Please enter a name</mat-hint> -->
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input [(ngModel)]="this.firestoreService.user.lastName" matInput placeholder="Last name">
            
            <!-- <mat-hint>Please enter a name</mat-hint> -->
          </mat-form-field>
    </div>


    <div class="inputFormFieldDivClass ">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input [disabled]=this.firestoreService.loading [(ngModel)]="this.firestoreService.user.email" matInput placeholder="Email">
        
        <!-- <mat-hint>Please enter a name</mat-hint> -->
      </mat-form-field>
    </div>

    <div class="inputFormFieldDivClass">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Birthday</mat-label>

            <input [disabled]=this.firestoreService.loading [(ngModel)]="this.firestoreService.birthDate" matInput placeholder="Birthday" [matDatepicker]="picker1">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            
            <!-- <mat-hint>Please enter a date</mat-hint> -->
          </mat-form-field>
    </div>
   

<div class="inputFormFieldDivClass ">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Street Address</mat-label>
    <input [disabled]=this.firestoreService.loading [(ngModel)]="this.firestoreService.user.street" matInput placeholder="Street address">
    
    <!-- <mat-hint>Please enter a name</mat-hint> -->
  </mat-form-field>
</div>


  <div class="inputFormFieldDivClass">
  
    

    <mat-form-field appearance="outline">
      <mat-label>Zip Code</mat-label>
      <input [disabled]=this.firestoreService.loading [(ngModel)]="this.firestoreService.user.zipCode" matInput placeholder="Zip Code">
      
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input [disabled]=this.firestoreService.loading [(ngModel)]="this.firestoreService.user.city" matInput placeholder="City">
      
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>
  </div>

    
    

</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="cancelDialog()" mat-button >Cancel</button>
  <button [disabled]=this.firestoreService.loading mat-button  cdkFocusInitial (click)="saveUser()">Save</button>
</mat-dialog-actions>