

mat-dialog-content{
    position: relative;
}


// .progressBarDiv{
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .mat-mdc-progress-bar {
//     --mdc-linear-progress-active-indicator-color: #5f7cff;
//     --mdc-linear-progress-track-color: rgba(255, 247, 250, 0.25);
// }


.inputFormFieldDivClass{
    display: flex;
    gap: 16px;
    padding: 0px;
}



h2 {
    font: 500 20px / 32px Roboto, sans-serif;
    letter-spacing: .0125em;
    margin: 0;
}

button{
    height: 48px;
}


.singleLicenseContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    >button{
        height: 36px;
        width: 36px;
    }

    >table{
        width: 100%;
        tr{
        td:nth-child(1) {  
             width: 140px;
            }
        }
    } 
}
#deleteLicenseId{
    position: absolute;
    right: 0;
    top: 50%; /* Move to the midpoint */
    transform: translateY(-50%);
}

.directionColumn{
    display: flex;
    flex-direction: column;
}


.mat-mdc-dialog-actions {
    justify-content: center;
    gap: 24px;
    padding: 16px 24px;
}


    
    .mdc-dialog__actions{
    gap: 16px;
    }