// mat-label{
//     min-height: 20px;
// }
h2{
    margin: 0px;
}




.matDialogContentClass{
padding: 20px 24px 20px 24px;
}

mat-dialog-content{
    padding: 20px 24px 20px 24px !important;
}

.inputFormFieldDivClass{
    display: flex;
    gap: 8px;
}