.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}


.tooltip {
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
    color: black; /* Add this line */
  }
  
  .controls {
    margin-bottom: 10px;
    position: relative;
    right: 110px;
  }
  
  .controls button {
    margin-right: 5px;
  }



  .legend {
    font-family: Arial, sans-serif;
  
    .legend-item {
      cursor: default;
  
      circle {
        stroke: #333;
        stroke-width: 1px;
      }
  
      text {
        fill: #ffffff;
      }
    }
  }
  