.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;
}

.controls {
  display: flex;
  justify-content: center;
    z-index: 5;
  }
  
.controls button {
    margin-right: 5px;
  }


  .legend {
    font-family: Arial, sans-serif;
  
    .legend-item {
      cursor: default;
  
      circle {
        stroke: #333;
        stroke-width: 1px;
      }
  
      text {
        fill: #ffffff;
      }
    }
  }

  #chartContainer {
    width: 100%;
    height: auto;
    position: relative;
  }

  .chart-container {
    width: 96vw;
    height: 96vw;
    max-width: 800px;
    max-height: 800px;

    position: relative;
    margin: 8px 0px;
  }
  
  #bubbleChart {
    width: 100%;
    height: 100%;
  }
  
  .tooltip {
    position: absolute;
    pointer-events: none;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    font-size: 14px;
  }


  //////////////
  /// Legend
  ///
  #expansionPanelId{
    position: relative;
    top: -48px;
    z-index: 10;
  }
  
  .legend-container {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
  .mat-expansion-panel {
    width: 50%;
    max-width: 400px;
  }
  
  mat-panel-description{
    display: flex;
    justify-content: center;
  }

  
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .legend-color-box {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #333;
  }
  
  .legend-text {
    font-size: 14px;
    color: #ffffff;
  }
  
  .legend-info {
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
  }

  @media (max-width: 500px) {
    .controls {
      >button{
        font-size: 12px;
        padding: 8px;
      }
     
    }

    .mat-expansion-panel {
      width: 80%;
      max-width: 400px;
    }

    #expansionPanelId{
      position: relative;
      top: -16px;
      z-index: 10;
    }

    .chart-container {
      width: 94vw;
      height: 98vw;
      margin: 16px 0px;
  
    }
  }

  circle {
    cursor: pointer;
  }


  