
<!-- 
STEP 4
Von Github AngularFire Quickstart Setup
https://github.com/angular/angularfire/blob/main/docs/install-and-setup.md -->
<!-- <ul>
  <li class="text" *ngFor="let item of items$ | async">
    {{item.name}}
  </li>
</ul> -->


<mat-drawer-container  class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenavClass" mode="over" [opened]="false"  (click)="drawer.toggle()">

    <div class="logo-container-class">

      <img src="assets/img/simple-crm-high-resolution-logo-transparent-cropped.svg" alt="">
    </div>

<ul class="menu-items-class">
  <li  routerLink='/'><mat-icon>home</mat-icon>Summary</li>
  <li  routerLink='/dashboard'><mat-icon>bubble_chart</mat-icon>Data Visualization</li>
  <li   routerLink='/user'><mat-icon>list</mat-icon> Customer List</li>
</ul>

    
  </mat-drawer>

  <div class="example-sidenav-content">

    <mat-toolbar>
      <mat-toolbar-row>

        <div class="menuIconClass" (click)="drawer.toggle()">
          <mat-icon  >menu</mat-icon>
        </div>
        
        
        <span>Simple CRM</span>


      </mat-toolbar-row>
    
    </mat-toolbar>


  </div>



  <!-- ///Main Site Content -->
   <div class="router-container-class">
    <router-outlet></router-outlet>


   </div>



</mat-drawer-container>

