.mat-drawer-container{

    height: 100vh;
}

.menuIconClass{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    margin: 0px 8px;
    
    &:hover{
        background-color: rgba(148, 148, 148, 0.397);
    }
}

.sidenavClass{
    width: 300px;
    
}

.logo-container-class{
    border-bottom: 1px solid rgba(121, 121, 121, 0.438);
    min-height: 64px;
    display: flex;
    align-items: center;
    padding: 0px 24px;
}

mat-toolbar, mat-toolbar-row{
    min-height: 64px;
    height: 64px;
}

mat-toolbar-row{
    padding: 0;
}

.menu-items-class{
    list-style-type: none;
    
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    

    li{
        padding: 12px 16px;
        height: 48px;
        display: flex;
        align-items: center;
        gap: 16px;

        cursor: pointer;

        &:hover{
            background-color: rgba(150, 150, 150, 0.404);
        }
        &:focus{
            outline: none;
        }
    }
}

.router-container-class{
    padding: 32px 32px 16px 32px;
}

.logo-container-class{
    display: flex;
    align-items: center;
  
    img{
    
       width: 140px;
        padding: 0px;
        filter: invert(1);
        
       
    }
}

@media (max-width: 470px) {
    .router-container-class{
        padding: 0;
    }
    
    h1{
        text-align: center;
        padding: 12px 0px;
        margin: 0px 0px 0px 0px;
    }
       
       
}

