.deleteUserDialogClass{
    width: 360px ;
    height: 220px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{color: white;}
button{
    width: 200px;
    font-size: 20px;
    background-color: red ;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}