
<div class="main-user-div-class">

  <mat-card class="user-detail-header">
    <button  [matMenuTriggerFor]="emailMenu" 
    class="pos-abs-upper-right-class" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #emailMenu="matMenu">
        <button (click)="openEmailDialog()" mat-menu-item aria-label="Example icon button with a vertical three dot icon" >Edit</button>
        
        
        <button  style="background-color: brown;" (click)="openDeleteUserDialog()"  
        mat-menu-item aria-label="Example icon button with a vertical three dot icon" >Delete Customer</button>

        <!-- <mat-menu #deleteUserMenu="matMenu"  yPosition="below">
          <button yPosition="below" style="background-color: red;"  (click)="userId ? deleteUser(userId) : null" 
          mat-menu-item aria-label="Example icon button with a vertical three dot icon" >Confirm Deletion</button>
        </mat-menu> -->
      
      </mat-menu>

      

      <div  id="whatIsGoingOn">

        <img src="./assets/img/icons8-male-user-96 (1).png" alt="">

        <div class="minHeightClass100px">
            <h2>{{this.firestoreService.user.firstName}} {{this.firestoreService.user.lastName}}</h2>
            <table id="headerTable">
                <tr>
                  <td>Company:</td>
                  <td>{{ this.firestoreService.user.company }}</td>
                </tr>
                <tr>
                  <td>Occupation:</td>
                  <td>{{ this.firestoreService.user.occupation}}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ this.firestoreService.user.email}}</td>
                  </tr>
              </table>
   
        </div>


    </div>
    
</mat-card>

<mat-card class="singleInfoCardClass">

<button  [matMenuTriggerFor]="addressmenu" 
    class="pos-abs-upper-right-class" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
</button>
     
<mat-menu #addressmenu="matMenu">
  <button (click)="openAddressDialog()" mat-menu-item>Edit</button>
</mat-menu>

    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        {{this.firestoreService.user.street}} <br>
        {{this.firestoreService.user.zipCode}} {{this.firestoreService.user.city}}
    </mat-card-content>

</mat-card>


<mat-card class="singleInfoCardClass ">

        <mat-card-header >
            <mat-card-title>Licenses</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
            
            @if(Object.keys(this.firestoreService.user.licenses).length !== 0){
                @for (license of this.firestoreService.user.licenses; track license) {
                    <mat-divider></mat-divider>
                    <div class="singleLicenseContainer">
                      <table id="licenseTableId">
                        <tr>
                          <td>License:</td>
                          <td>{{ license.licenseName }}</td>
                        </tr>
                        <tr>
                            <td>License ID:</td>
                            <td>{{ license.licenseId }}</td>
                          </tr>
                        <tr>
                          <td>Expiration Date:</td>
                          <td>{{ license.value| date:'mediumDate' }}</td>
                        </tr>
                      </table>
                   
                      <button [matMenuTriggerFor]="deleteButtonMenu" id="deleteLicenseId"  mat-fab color="primary" aria-label="Example icon button with a delete icon">
                        <mat-icon>delete</mat-icon>
                      </button>

                      

    <mat-menu class="licensesDeleteClass" #deleteButtonMenu="matMenu">
      <div class="backgroundForCustomDeletePopUpClass">
        <button  (click)="deleteSingleLicense(license.licenseId)" 
        mat-menu-item aria-label="Example icon button with a vertical three dot icon" >
        Confirm to delete <br>{{license.licenseName}}<br>with ID <br>{{license.licenseId}}
      </button>
      </div>
        
    </mat-menu>







                      
                    </div>
                    }
               }
              
             
              @if(Object.keys(this.firestoreService.user.licenses).length == 0){
                <p>No licenses found</p> 
               }

               <div class="addLicenseDivClass">
                <button (click)="openLicenceDialog()" mat-raised-button color="accent">Add licence </button>
               </div>
               
        </mat-card-content>

        
        
    
    </mat-card>


</div>

