
.user-detail-header{
    min-height: 180px;
    background-color: #758694;

    display: flex;
    flex-direction: unset;
    align-items: flex-end;
    

    img{
        width: 80px;
        border-radius: 50%;
        margin: 0px 0px 32px 0px;
    }

    div{
        margin: 0px 0px 0px 16px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2{
        margin-bottom: 0px;
    }
}

.singleInfoCardClass{
    margin: 16px 0px 0px 0px;
}

.pos-abs-upper-right-class{
    position: absolute;
    right: 0;
    top:0;
   margin:8px;
}

mat-divider{
    margin: 0px 0px 8px 0px;
}


.singleLicenseContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    >button{
        height: 36px;
        width: 36px;
    }

    >table{
        width: 100%;
        tr{
        td:nth-child(1) {  
             width: 140px;
            }
        }
    } 
}

#deleteLicenseId{
    position: absolute;
    right: 0;
    top: 50%; /* Move to the midpoint */
    transform: translateY(-50%);
}


mat-card-header{
    height: 48px;
}



#whatIsGoingOn{
    display: flex;
    flex-direction: row;
    align-items: center;
}


#headerTable{
    width: 100%;
    tr{
    td:nth-child(1) {  
         width: 90px;
        }
    }
    padding: 0px 0px 32px 0px;
} 