
<mat-card class="user-detail-header">
    <img src="./assets/img/icons8-male-user-96 (1).png" alt="">

    <div>
        <h2>{{this.user.firstName}} {{this.user.lastName}}</h2>
        {{this.user.email}}
    </div>
</mat-card>

<mat-card class="singleInfoCardClass">
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        {{this.user.street}} <br>
        {{this.user.zipCode}} {{this.user.city}}
    </mat-card-content>

</mat-card>