<mat-card appearance="outlined">
  <mat-card-content>
    
    <table>
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>

      <tr>
        <td>ABABA</td>
        <td>ABABA</td>
        <td>ABABA</td>

      </tr>

      <tr>
        <td>ABABA</td>
        <td>ABABA</td>
        <td>ABABA</td>

      </tr>
    </table>

  </mat-card-content>
</mat-card>



<button (click)="openDialog()" class="add-user-button-class" mat-fab aria-label="Example icon button with a delete icon"
matTooltip="Add user" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
  </button>