<mat-card appearance="outlined">
  <mat-card-content>
    
    <table>
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>City</th>
      </tr>

      @for (user of this.firestoreService.usersArray; track user) {
      <tr [routerLink]="['/user/' + user.id]">
          <td> {{ user.firstName }} {{ user.lastName }}</td>
          <td> {{ user.email }}</td>
          <td> {{ user.city }}</td>
      </tr>
    }

      
    </table>

  </mat-card-content>
</mat-card>



<button (click)="openDialog()" class="add-user-button-class" mat-fab aria-label="Example icon button with a delete icon"
matTooltip="Add user" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
  </button>

  <button (click)="consoleOutputUsers()" style="margin:16px">Create Random Users</button>