.add-user-button-class{
    position: fixed;
    bottom: 48px;
    right: 48px;
}

table{
    width: 100%;
    border-radius: 8px;
    border-collapse: collapse;
    background-image: linear-gradient(to  bottom, #718db7, #64a9c3, #8ebdbc);
    border-radius: 6px;
    

    th{
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        color: rgba(0,0,0, 0.4);
        text-align: start;
        border-bottom: 1px solid rgb(0, 0, 0);
        padding: 10px 0px 8px 8px;
        cursor: pointer;

        &:first-child{
            padding: 10px 0px 8px 8px;
        }
        &:hover{
            color: white;
            font-weight: 500;
            background-color: rgba(100, 100, 100, 0.341);
        }
    }

    td{
        border-bottom: 1px solid black;
        height: 32px;
        padding: 0px 0px 0px 8px;

        &:first-child{
            padding: 0px 0px 0px 8px;
        }
    }

    tr{
        cursor: pointer;

        &:first-child{
            cursor: unset;
            &:hover{
                background-color: unset;
            }
        }
        &:last-child > td{
            border-bottom: 0;
        }

        &:hover{
            background-color: rgba(110, 110, 110, 0.487);
        }
    }
  
   
}
mat-card{
    border-radius: 6px;
}

mat-card-content{
    background-color: rgb(161, 161, 161);
    padding: 0px 0px !important;
    border-radius: 6px;
  
}
.mat-mdc-card-content:last-child {
    padding-bottom: 0px;
}
.mat-mdc-card-content:first-child {
    padding-top: 8px;
}

@media (max-width: 720px) {
    table tr td:nth-child(3),
    table tr th:nth-child(3) {
      display: none;
    }
  }

  @media (max-width: 470px) {
    table tr td:nth-child(4),
    table tr th:nth-child(4) {
      display: none;
    }
  }