<mat-card appearance="outlined">
  <mat-card-content>
    
    <table>
      <tr>
        <!-- <th (click)="sortUserArrayByKey('firstName')">Name ↕</th>
        <th>Company</th>
        <th>E-Mail</th>
        <th>Licenses</th> -->
        <th (click)="sortUserArrayByKey('firstName')">
          Name {{ currentSortKey === 'firstName' ? (currentSortDirection === 'asc' ? '↑' : '↓') : '↕' }}
        </th>
        <th (click)="sortUserArrayByKey('company')">
          Company {{ currentSortKey === 'company' ? (currentSortDirection === 'asc' ? '↑' : '↓') : '↕' }}
        </th>
        <th (click)="sortUserArrayByKey('email')">
          E-Mail {{ currentSortKey === 'email' ? (currentSortDirection === 'asc' ? '↑' : '↓') : '↕' }}
        </th>
        <th (click)="sortUserArrayByKey('licenses')">
          Licenses {{ currentSortKey === 'licenses' ? (currentSortDirection === 'asc' ? '↑' : '↓') : '↕' }}
        </th>
      </tr>

      @for (user of this.localUsersArray; track user; let index = $index){
      <tr [routerLink]="['/user/' + user.id]">
          <td> {{ user.firstName }} {{ user.lastName }}</td>
          <td> {{ user.company }}</td>
          <td> {{ user.email }}</td>
          <td> {{ user.licenses.length }}</td>
      </tr>
    }

      
    </table>

  </mat-card-content>
</mat-card>



<button (click)="openDialog()" class="add-user-button-class" mat-fab aria-label="Example icon button with a delete icon"
matTooltip="Add user" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
  </button>

  <button (click)="consoleOutputUsers()" style="margin:16px">Create Random Customers</button>

  