/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width{
    width: 100%;
}


.progressBarDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #5f7cff;
    --mdc-linear-progress-track-color: rgba(255, 247, 250, 0.25);
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.75) !important;
}


.greenBackground{
    background-color: rgb(28, 122, 28);
}

.redBackground{
    background-color: rgb(179, 39, 39);
}

.mat-mdc-fab.mat-primary {
    --mdc-fab-container-color: rgb(178, 0, 0) !important;}



    .tooltip {
        position: absolute;
        pointer-events: none;
        // background: #fff;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: white;
        font-size: 14px;
        z-index: 1000; // Ensure the tooltip appears above other elements
      }

      circle {
        cursor: pointer;
        transition: fill 0.2s ease-in-out;
      }


      html{
        ///Sidenav background color
        --mat-sidenav-scrim-color: rgba(0, 0, 0, 0.6);
      }
      


      @media (max-width: 470px) {
       
        
        h1{
            text-align: center;
            padding: 24px 0px;
            margin: 0px 0px 0px 0px;
        }

        .mat-h1, .mat-headline-5, .mat-typography .mat-h1, .mat-typography .mat-headline-5, .mat-typography h1 {
            font: 400 24px / 32px Roboto, sans-serif;
            letter-spacing: normal;
            margin: 0 0 0px;
        }
        html{
            --mat-dialog-container-small-max-width: 96vw;
        }
          
           
    }
    

    .mat-mdc-dialog-container .mat-mdc-dialog-content {
        padding: 32px !important;
    }


    @media (max-width: 500px) {
        .mat-mdc-dialog-container .mat-mdc-dialog-content {
            padding: 16px !important;
        }
    
           
    }
    
    