/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width{
    width: 100%;
}


.progressBarDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #5f7cff;
    --mdc-linear-progress-track-color: rgba(255, 247, 250, 0.25);
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.75) !important;
}


.greenBackground{
    background-color: rgb(28, 122, 28);
}

.redBackground{
    background-color: rgb(179, 39, 39);
}