<mat-dialog-content>
<h1>Add a license</h1>

<div class="inputFormFieldDivClass ">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>License name</mat-label>
      <input [formControl]="licenseNameControl" [(ngModel)]="this.licenseName" [disabled]=this.firestoreService.loading  matInput placeholder="License name" required="true">
      <mat-error *ngIf="licenseForm.get('licenseNameControl')!.hasError('required')">
        License name is required.
      </mat-error>
      <!-- <mat-hint>Please enter a name</mat-hint> -->
    </mat-form-field>
  </div>

<div class="inputFormFieldDivClass">

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Expiration date</mat-label>

        <input [formControl]="expirationDateControl" [(ngModel)]="this.expirationDate" [disabled]=this.firestoreService.loading  matInput placeholder="MM/DD/YYYY" [matDatepicker]="picker1" required="true">
        <mat-error style="z-index: 5" *ngIf="expirationDateControl.invalid && (expirationDateControl.dirty || expirationDateControl.touched)">
          Expiration date is required.
        </mat-error>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        
   
      </mat-form-field>
</div>




</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="cancelLicenseDialog()" mat-button >Cancel</button>
  <button [disabled]=this.firestoreService.loading mat-button  cdkFocusInitial (click)="submitLicense(this.data.userIdDataInput)">Submit license  </button>
</mat-dialog-actions>
